.spiner-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 10, 63);
}

.spinner {
    margin: 0 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid gray;
    border-top: 4px solid white;
    animation: rotating-spinner 1s linear infinite;
}

@keyframes rotating-spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}